.Navbar {
    height: 14vh;
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #4040a1;
    -webkit-box-shadow: inset 0px -18px 24px 0px rgba(18, 164, 212, 1);
    -moz-box-shadow: inset 0px -18px 24px 0px rgba(18, 164, 212, 1);
    box-shadow: inset 0px -18px 24px 0px rgba(18, 164, 212, 1);
}

@font-face {
    font-family: "GameBoy";
    src: local("GameBoyFont"),
    url("../../../fonts/Early GameBoy.ttf") format("truetype");
}

.Navbar h3 {
    font-family: "GameBoy";
    font-size: 1.7vmin;
    color: white;
    position: absolute;
    left: 12vw;
    top: 11.8vh;
}

.Navbar a {
    font-family: "GameBoy";
    font-size: 4.7vmin;
    text-decoration: none;
    margin-left: 9vw;
    color: white;
}

.Navbar a:hover {
    color: black;
}