.Navbar {
    height: 10vh;
    width: 100%;
    background-color: #4040a1;
    -webkit-box-shadow: inset 0px -18px 24px 0px rgba(31, 178, 170, 1);
    -moz-box-shadow: inset 0px -18px 24px 0px rgba(31, 178, 170, 1);
    box-shadow: inset 0px -18px 24px 0px rgba(31, 178, 170, 1);
}