.container {
    height: 2.5vh;
    width: 60%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin-left: 35%;
    margin-bottom: 0.5%;
}

.filler {
    height: 100%;
    background-color: #6C9AF0;
    border-radius: inherit;
    text-align: center;
}

.textc {
    padding-right: 2.5vw;
}

.label {
    position: absolute;
    font-family: "GameBoy";
    font-size: 1.8vmin;
    padding-top: 0.05vh;
    color: white;
}