.pokemonsGridU {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3vw;
    grid-row-gap: 4vh;
    margin: 3vh 3vw 0 3vw;
}

.pokemonsGridItemU {
    background-color: Azure;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 30vh;
    width: auto;
    font-size: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
}

.headerGridItemU {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    height: 3.5vh;
    background-color: Gainsboro;
}

.headerGridItemU p {
    float: left;
    text-align: left;
    margin-left: 0.5vw;
    padding-top: 0.4vh;
    font-size: 2.6vmin;
    width: 89.5%;
}

.imagesPokemonU {
    float: left;
}

.imageU1 {
    text-align: right;
    position: absolute;
    height: 2.8vh;
    padding-left: 0.3vw;
    margin-top: 0.37vh;
}

.imageU2 {
    position: absolute;
    height: 3.8vh;
    padding-bottom: 0.3vh;
    opacity: 0;
    cursor: auto;
}

.imageU2.active {
    opacity: 1;
}

.imageU2:hover {
    opacity: 0;
    cursor: pointer;
}

.UlubioneDetails img {
    height: 20vh;
    max-width: 85%;
}

@media (max-height: 750px) {
    .headerGridItemU p {
        padding-top: unset;
    }
}

@font-face {
    font-family: "GameBoy";
    src: local("GameBoyFont"),
    url("../../../fonts/Early GameBoy.ttf") format("truetype");
}

.UlubioneDetails {
    cursor: auto;
    width: 100%;
}

.statsU {
    position: absolute;
    display: none;
    background-color: Azure;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 16.5vh;
    margin-left: 1.8vw;
    width: 22vw;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
    z-index: 2;
}

.imgdiv {
    width: 50%;
}

.statsU img {
    float: left;
    height: 5vh;
}

.statsU p {
    float: left;
    text-align: left;
    padding-top: 0.3vh;
    padding-left: 0.5vw;
    font-size: 3vmin;
    width: 20%;
    height: 5vh;
}

.UlubioneDetails:hover + .statsUDiv .statsU{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.statsUColumn {
    width: 50%;
    padding-top: 0.5vh;
    padding-left: 0.5vh;
}

.UlubioneDetails p {
    color: black;
    font-size: 2vmin;
    font-weight: 1000;
    font-family: "GameBoy";
}

.UlubioneDetails a {
    text-decoration: none;
}

.StatsSum {
    position: absolute;
    background-color: rgb(196, 240, 240);
    bottom: 0;
    border: 2px solid rgba(0, 0, 0, 0.8);
    width: 99.8%;
    height: 15vh;
    z-index: 1;
}

.nameStatsPU {
    text-align: center;
    color: black;
    font-size: 3vmin;
    font-weight: 1000;
    font-family: "GameBoy";
}

.divGridSumStatsU {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1vh 0vw 0 13vw;
}

.gridcollumn p{
    color: black;
    font-size: 2vmin;
    font-weight: 1000;
    font-family: "GameBoy";
}

