@font-face {
    font-family: "GameBoy";
    src: local("GameBoyFont"),
    url("../../fonts/Early GameBoy.ttf") format("truetype");
}

.button {
    background-color: azure;
    color: black;
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
    position: absolute;
}

.button:hover {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.buttonText {
    font-family: "GameBoy";
    font-size: 0.9em;
    text-align: center;
    padding-left: 8%;
}

.next {
    left: 89.5vw;
    bottom: 3vh;
}

.prev {
    right: 89.7vw;
    bottom: 3vh;
}