.Main {
    height: 86vh;
    width: 100%;
}

.sidebar {
    float: left;
    height: 100%;
    width: 5%;
    background-color: #12a4d4;
}

.maindiv {
    float: left;
    height: 100%;
    width: 90%;
    background-color: whitesmoke;
    position: relative;
    -webkit-box-shadow: 0px 11px 28px 10px rgba(69, 65, 64, 1);
    -moz-box-shadow: 0px 11px 28px 10px rgba(69, 65, 64, 1);
    box-shadow: 0px 11px 28px 10px rgba(69, 65, 64, 1);
}
